<div class="d-flex" >
    <!-- Sidebar -->
    <div class="bg-dark border-right p-3" id="sidebar">
        <h3 class="text-white">Gifs App</h3>
        <hr class="text-white"/>
        <div class="list-group list-reset">
            <a href="#" class="list-group-item list-group-item-action">
                Dashboard
            </a>
        </div>
    </div>
    <!-- End Sidebar -->

    <div class="container">
        <div class="row p-3">
            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar Gifs...">
            </div>
        </div>
        <hr>
        <div class="row p-3">
            <div class="col">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius iste, velit fugiat, maxime, reprehenderit quaerat harum saepe animi cumque amet rem et ullam? Pariatur nostrum dolor in aut dolorem architecto.
            </div>
        </div>
    </div>

</div>
