<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="lowercase">
      salida con pipe -> {{ lowercase | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="uppercase">
      salida con pipe -> {{ uppercase | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="nameComplete">
     salida con pipe -> {{ nameComplete | titlecase }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date|Fecha|Pipe</h1>
  <p>Pipes para mostrar las fechas</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li> fecha </li>
        <li> fecha | date </li>
        <li> fecha | date: 'short'  </li>
        <li> fecha | date: 'long'  </li>
        <li>Hoy es: | date:'EEEE - MMM dd, YYYY - hh:mm a'</li>
        <li> Cambiar el timezone es el tercer argumento 'en'--> fecha | date: 'long': '' : 'en' </li>
      </ul>

    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li> {{fecha}}</li>
        <li> {{fecha | date}}</li>
        <li> {{fecha | date: 'short' }}</li>
        <li> {{fecha | date: 'long' }}</li>
        <li> Hoy es: {{fecha | date:'EEEE - MMM dd, YYYY - hh:mm a'}}</li>
        <li> {{fecha | date: 'long': '' : 'en' }}</li>
      </ul>
    </p-card>
  </div>
</div>
