<h2 class="animate__animated animate__bounce">Por país</h2>
<hr>
<div class="row">
  <div class="col">
    <app-country-input
    (onEnter)="buscar($event)"
    (onDebounce)="teclaPresionada($event)"
    placeholderValue="Buscar por país..."></app-country-input>
  </div>
</div>
<hr>

<div class="alert alert-danger animate__animated animate__rotateIn"
*ngIf="hayError">
  No se encontró nada con el término {{termino}}
</div>

<div *ngIf="listaDePaises.length > 0" class="row">
  <div class="col">
    <app-country-table [countryList]="listaDePaises"></app-country-table>
  </div>
</div>


